.container {
/*    background-color: black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.title {
    font-size: 38px;
    text-align: center;
    width: 100%;
    margin: 10px;
}

/*亮屏*/
.light{
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}

/*熄灭*/
.dark{
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}
